# Secure defaults
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
UseDNS no

# Limited access
PermitRootLogin no
X11Forwarding no
AllowTcpForwarding no
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no

# Force sftp and chroot jail
Subsystem sftp internal-sftp
ForceCommand internal-sftp
ChrootDirectory /home/data/home/%u
# Enable this for more logs
#LogLevel VERBOSE
